<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/index/index.css">
<title>My website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
    <script src="/index/index.js"></script>
    <div class="header">
      <h1>My Website</h1>
      <p>A website created by me!</p>
      <p class="user"><%= currentUser.username%></p>
    </div>
    
    <div class="navbar">
      <a href="/login">Login</a>
      <a href="/signup">Sign Up!</a>
      <a href="/post">Post</a>
      <a href="/content">Content</a>

      <a href="#">Link</a>
      <a href="#" class="right">Link</a>
    </div>

</body>
</html>
