<!DOCTYPE html>
<html>
  <head>
	<title>Example Login Form</title>
    <link rel="stylesheet" href="/login/login.css">
  </head>
  <body>
    <script src="/login/login.js"></script>
    <div class="header">
      <h1>Node.js guide</h1>
      <p>A website where you can post facts about Node.js!</p>
      
    </div>
    
    <div class="navbar">
      <% if(currentUser.id == 0){ %>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up!</a>
        <% } %>
        
        <a class="right">Hey <%= currentUser.username%>!</a>
        <% if(currentUser.id != 0){ %>
          <a href="/post" class="right">Post</a>
          <a href="/content" class="right">Content</a>
          <a href="/logout">Logout</a>
        <% } %>

    </div>

    <p class="message"><%= message.message%></p>
    <form action="/login" method="post">
        <div class="imgcontainer">
          <img src="/login/loglady.jpg" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="username" placeholder="Enter Username" name="username" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
      
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
       
          <span class="psw">Forgot <a href="#">password?</a></span>
        
          
        </div>
      
          
        </div>
      </form>
  </body>
</html>
